* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background-color: #273445;
  font-family: "Karla", sans-serif;
  font-weight: bolder;
}

h1 {
  color: white;
  font-size: 40px;
}
span {
  display: block;
  margin-top: -5px;
  color: #4adf86;
}
button {
  margin: 50px 0 30px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #10b981;
  color: white;
  cursor: pointer;
}

hr {
  border: none;
  border-top: 3px solid #2f3e53;
}

.container {
  width: fit-content;
  height: 550px;
  background-color: #1f2937;
  padding: 70px 30px 0 30px;
  border-radius: 10px;
  box-shadow: 0 0px 50px 0px #1c2431;
}
.subtitle {
  margin-top: 10px;
  color: rgb(201, 201, 201);
  font-weight: 500;
}

.password-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.password {
  border-radius: 5px;
  background-color: #273549;
  width: 165px;
  height: 30px;
  color: #55f991;
  font-size: 14px;
  font-weight: lighter;
  text-align: center;
  line-height: 2;
}
